body{
    font-family: 'Reem Kufi Fun', sans-serif;
    text-align: center;
    font-size: 16px;
    background-color: black;
    color: white;
}

.title{
    font-size: 3rem;
}

.nav{
    display: grid;
    justify-content: flex-end;
    text-align: right;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 20px;
}

.planetInfo{
    margin-left: 30px;
    margin-right: 30px;
}