body{
    font-family: 'Reem Kufi Fun', sans-serif;
    font-size: 16px;
    background-color: black;
    color: white;
    text-align: center;

}

.title{
    font-size: 3rem;
}


.translate{
    display: grid;
    justify-content: flex-end;
    text-align: right;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 20px;
}